:root{
    --primary: #e4dcd5;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8)
}

html{
    box-sizing: border-box;
    font-family: Space Mono, Arial, Helvetica, sans-serif;
    color: var(--dark);
}

h1 {
    font-family: BioRhyme, Arial, Helvetica, sans-serif;
    padding: 7rem;
}

body {
    background: #e4dcd5;
    margin: 0;
    line-height: 1.4;
}

/* .btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    margin-left: 2rem;
} */

.wrapper {
    display: grid;
    grid-gap: 20px;
}

/* .main-nav ul{
    display: grid;
    grid-gap: 0px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a{
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover{
    background: var(--dark);
    color: var(--light)
} */

.top-container {
    display: grid;
    grid-gap: 0px;
    grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';    
}

.showcase{
    grid-area: showcase;
    min-height: 400px;
    background: url(img/pic3.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}


.showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p{
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

.boxes{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

.fab, .fas{
    background: -webkit-gradient(linear, left top, left bottom, from(#741379), to(#F2A30E));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    
}

.info{
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
}

.info p{
    margin: 10rem;
}

.portfolio{
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img{
    width: 100%;
    box-shadow: var(--shadow);
}

footer{
    margin-top: 2rem;
    background: #741379;
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

@media(max-width: 700px) {

    .showcase h1{
        font-size: 2.5rem;
    }

    /* .main-nav ul{
        grid-template-columns: 1fr; */
    }

    .info {
        grid-template-columns: 1fr;    
    }

    .info p, h2{
        padding-left: 1rem;
        padding-bottom: 1rem;
    }

    .info .btn{
        display: block;
        text-align: center;
        margin: auto;
    }
}
 /* @media(max-width: 815px) and (min-width: 615px) {
    .boxes{
        grid-template-areas: 
        'box box'
        'box box';
        
    }
 } */
/* @media(max-width: 500px) {
    .top-container {
        grid-template-areas:
        'showcase'
        'top-box-a'
        'top-box-b';
    }
} */